  @media (min-width:1185px) {
  input {
    width: 85%;
  }

  @media (max-width:1184px) {
  input {
    width: 85%;
  }

  @media (max-width:929px) {
    input {
      width: 80%;
    }
  }
  
  @media (max-width:720px) {
    input {
      width: 75%;
    }
  }
  @media (max-width:588px) {
    input {
      width: 55%;
    }
  }


  button::after {
    content: "Share App Link";
  }
}

  button::after {
    content: "Share App";
  }
}