<footer class="bg-main-light p-4">
  <div>
    <div>
      <a class="navbar-brand mb-3 d-block" routerLink="home">
        <img src="./assets/icon/freshcart-logo.svg" alt="Fresh Cart">
      </a>
      <h3 class="fw-light mb-3">Get The FreshCart App</h3>
      <p class="text-muted fw-light mb-4">We Well Send You a Link, open it on your phone to download the app.</p>
      <div class="form-group d-flex align-items-center justify-content-between">
        <input class="form-control fw-light me-2" type="email" placeholder="Email...">
        <button class="btn-main"></button>
      </div>
    </div>
    <hr>
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-5 d-flex justify-content-between align-items-center">
        <p class="m-0">Payment Partners</p>
        <ul class="d-flex align-items-center ps-0 mb-0">
          <li class="mx-2 list-group-item">
            <a href="https://pay.amazon.com" target="_blank">
              <img src="assets/icon/Amazon_Pay_logo.svg" alt="Amazon_Pay" width="60px">
            </a>
          </li>
          <li class="mx-2 list-group-item">
            <a href="https://www.americanexpress.com" target="_blank">
              <img src="assets/icon/american-express.svg" alt="Amazon_Pay" width="45px" class="">
            </a>
          </li>
          <li class="mx-2 list-group-item">
            <a href="https://www.mastercard.us/en-us.html" target="_blank">
              <img src="assets/icon/Mastercard-logo.svg" alt="Amazon_Pay" width="30px" class="">
            </a>
          </li>
          <li class="mx-2 list-group-item">
            <a href="https://www.paypal.com/eg/home" target="_blank">
              <img src="assets/icon/PayPal.svg" alt="Amazon_Pay" width="40px" class="">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-5 d-flex justify-content-between align-items-center flex-md-grow-1 flex-lg-grow-0">
        <p class="mb-0">Get deliveries with FreshCart</p>
        <ul class="d-flex align-items-center ps-0 mb-0">
          <li class="mx-2 list-group-item">
            <a href="https://www.apple.com/eg/app-store/" target="_blank">
              <img src="assets/icon/appStore.svg" alt="Amazon_Pay" width="100px">
            </a>
          </li>
          <li class="mx-2 list-group-item">
            <a href="https://play.google.com/store/games?hl=en&gl=US&pli=1" target="_blank">
              <img src="assets/icon/playStore.svg" alt="Amazon_Pay" width="100px">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</footer>